body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: yellow;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body::before {
    content: "";
    position: fixed;
    top: 3.5cm;
    left: 12cm;
    right: 12cm;
    bottom: 0.2cm;
    background-color: red;
    z-index: -1; /* Para asegurarse de que esté detrás del contenido del body */
    
  }

#contenedor-rompecabezas {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 5px;
    width: 420px;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    background-color: white;
}

.pieza-rompecabezas {
    width: 100px;
    height: 100px;
    background-color: #F8B270;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.pieza-vacia {
    background-color: #FF8C00;
}

h1 {
    background-color: #DEB887;
    margin-bottom: 2.5em;
    color: red;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#tablero {
    background-color: red;
}

#boton-iniciar {
    background-color: yellow;
    margin-right: 1em;
}

article > * {
    display: inline-block;
}

#contador-movimientos {
    margin-right: 1em;
}